<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
       <div class="row">
           <div class="col-12 text-center">
               <h1>Seja Bem Vindo</h1>
               <p >
                   Veja mais sobre nossos empreendimentos
               </p>
           </div>
       </div>
       <div class="row justify-content-center">
           <div class="col-12 ">
               <%- include('../partials/carousel'); %>
              
           </div>
           <div class="col-6"></div>
       </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>