<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Parra imobiliária </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, deserunt quis delectus 
      fuga omnis eaque accusamus magni sed? Magni aut aliquam nostrum reprehenderit suscipit ipsum odio odit quis, corrupti ducimus.
    </p>
</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>